ISDSWebServices/src/main/resources/wsdl/db_search.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--  *********************************************************************
     WSDL pro služby související s vyhledáváním DS 
     
                          verze 2.6 
      *********************************************************************                    
Seznam služeb: 
==============
  FindDataBox                         
  CheckDataBox
                          
 změny:
  25.4.2009  verze 0.9
  28.4.2009  verze 1.0    
   3.6.2009  verze 2.0 - novela   
  1.11.2009  verze 2.6 - komerční provoz                     
 ************************************************************************ -->

<definitions name="ISDS_db" targetNamespace="http://isds.czechpoint.cz/v20" 
                                  xmlns="http://schemas.xmlsoap.org/wsdl/" 
                                  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                                  xmlns:tns="http://isds.czechpoint.cz/v20">
                                
  <types>
    <xs:schema targetNamespace="http://isds.czechpoint.cz/v20">
      <xs:include schemaLocation="dbTypes.xsd" />
    </xs:schema>
  </types>
  
  <!-- ******************************************************************* -->
  <message name="FindDataBoxRequest">
    <part name="parameter" element="tns:FindDataBox" />        
  </message>
  <message name="FindDataBoxResponse">
    <part name="parameter" element="tns:FindDataBoxResponse" />        
  </message>

  <message name="CheckDataBoxRequest">
    <part name="parameter" element="tns:CheckDataBox" />        
  </message>
  <message name="CheckDataBoxResponse">
    <part name="parameter" element="tns:CheckDataBoxResponse" />        
  </message>


  <!-- ******************************************************************* -->
  <portType name="DataBoxSearchPortType">
    <operation name="FindDataBox">
      <input  message="tns:FindDataBoxRequest"/>
      <output message="tns:FindDataBoxResponse"/>
    </operation>

    <operation name="CheckDataBox">
      <input  message="tns:CheckDataBoxRequest"/>
      <output message="tns:CheckDataBoxResponse"/>
    </operation>
  

  </portType>

  <!-- ******************************************************************* -->
  <binding name="DataBoxSearchBinding" type="tns:DataBoxSearchPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="FindDataBox">
      <soap:operation soapAction=""  />
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="CheckDataBox">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>


  </binding>

  <!-- ******************************************************************* -->
  <service name="DataBoxSearch">
    <port name="DataBoxSearchPortType" binding="tns:DataBoxSearchBinding">
      <soap:address location="https://www.mojedatovaschranka.cz/DS/df"/>
    </port>
  </service>

</definitions>

