ISDSWebServices/src/main/resources/wsdl/dmBaseTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- ************************************************************************
   XSD schema typů použitých ve WSDL pro manipulaci s datovými zprávami
                       verze 2.6      
                       
 Změny:  
     5.2.2009  verze 0.1   základní verze
    10.2.2009  verze 0.2   - v typu tDelivery místo ID zprávy je nyní kompletní obálka včetně časového razítka a hashe, které se ale asi nepoužije, protože bez písemností neplatí                         
    18.2.2009  verze 0.3   - v typu tDelivery přibyl obalovací element dmDm pro obálku DZ (sjednocení s tReturnedMessage[Envelope])
                           - v typu tReturnedMessageEnvelope vypuštěna nadbytečná sekvence
                           - doplněna dokumentace k méně jasným elementům a atributům  
    19.2.2009  verze 0.4   - upřesněn význam dmPurpose jako pole pro Zmocnění (zrušeno ve verzi 0.6)
                           - k tFile přidán do obálky souboru další atribut dmUpFileGuid, který společně s dmFileGuid může uchovat vztahy závislosti mezi soubory
                           - do atributu dmFileMetaType přidána další položka výčtu typu "signature"
                           - do skupiny elementů gMesssageEnvelope přidány nové elementy upřesňující podrobnější organizační členění organizací (dmRecipientOrgUnit, dmRecipientOrgUnitNum, dmRecipientOrgUnit a dmRecipientOrgUnitNum).
    24.2.2009  verze 0.5   - změněn základní namespace na http://isds.czechpoint.cz
    25.2.2009  verze 0.6   - změněno jméno elementu dmSubstDelivery na výstižnější dmAllowSubstDelivery	
                           - změněna vnitřní struktura grupy gMessageEnvelope - skládá se nově z několika elementů a nové grupy gMessageEnvelopeSub obsahující všechny elementy potřebné pro vytvoření DZ (použití ve WSDL)                       
                           - přidán nový typ tMessageEnvelopeSub (obsahující grupu gMessageEnvelopeSub): obsahuje jen ty elementy obálky, které se zadávají na vstupu WS CreateMessage; důsledkem je trochu zpřeházené pořadí v gMessageEnvelope a tedy i v odvozených typech
                           - do grupy gMessageEnvelopeSub přidána pětice elementů (dmLegalTitle...) nahrazující původní jeden stringový element dmPurpose; pro zadání Právního titulu/Zmocnění písemnosti (zákon, rok, paragr., odst. a písmeno)
                           - do grupy gMessageEnvelopeSub přidán element dmIdent pro Značku (spisovou)
                           - do grupy gMessageEnvelope přidána dvojice elementů s adresou odesílatele a adresou příjemce (dmSenderAddress a dmRecipientAddress)
    27.2.2009  verze 0.7   - element dmMessageStatus změněn na typ integer  
                           - element dmMessageStatus se stavem DZ přidán i do stažené zprávy (tReturnedMessage), stažené obálky DZ (tReturnedMessageEnvelope) a Dodejky (tDelivery)
                           - upraveno pořadí elementů v gMessageEnvelopSub (dmAllowSubstDelivery na konec)
    20.3.2009  verze 1.0   - přidány elementy (na první úrovni) k jednotlivým typům pro použití jako parametry ve WSDL (document/literal)+komplexní typy pro tyto elementy popisující jednotlivé parametry operací
                           - podle požadavku MV upraveny v grupě gMessageEnvelopeSub elementy pro Číslo jednací a Spisovou značku: zdvojeny (1x pro odesílatel, 1x pro příjemce), u původních změněno jméno, nově tedy jsou: dmRecipientRefNumber, dmSenderRefNumber, dmRecipientIdent, dmSenderIdent
    31.3.2009  verze 1.1.  - opraven překlep v complex type tListOfMessOutput: z dmRecieverOrgUnit na dmRecipientOrgUnit
                           - sjednoceno pojmenování elementů - u typu tStatus jsou elementy dmStatusCode a dmStatusMessage (místo StatusCode a StatusMessage)
                           - upravena vlastnost atributu dmFileDescr u popisu přílohy - nově je Required, protože se objeví v seznamu příloh DZ na portále 
    15.4.2009  verze 1.2   - přidán element DummyOperation pro WS stejného jména
    13.5.2009  verze 1.5   - opraveno jméno elementu dmSenderOrgUnitNum a dmRecipientOrgUnitNum ve vstupních parametrech WS pro získání seznamu, aby bylo shodné se stejným elementem u zprávy
                           - opraven typ u elementu MarkMessageAsDownloadedResponse - chyběl obalovací element dmStatus
                           - opraveno omezení u typu tIdDm z length na maxLength
                           - doplněna kardinalita některých elementů v odpovědích od serveru - při výskytu některých chyb se vrací pouze Status
                           - doplněna vlastnosti nillable = TRUE u některých elementů vč. stringových
     3.6.2009  verze 2.0   - novela zákona 300/2008 Sb. a ChangeRequesty
                           - do obálky stažené zprávy (a tudíž do všech struktur pracujících se zprávou) přibyl element dmSenderType typu int pro typ DS odesílatele 
                           - do stažené zprávy (tReturnedMessage), stažené obálky zprávy (tReturnedMessageEnvelope) a do staženého seznamu zpráv (tRecord) přibyl element dmAttachmentSize typu int pro velikost přílohy v DS
                           - na vstup služby CreateMessage (element CreateMessage) přibyl nepovinný element dmOVM pro příznak, je-li DZ odesílána v režimu OVM (pro DS typu OVM nepodstatný)
     9.6.2009 verze 2.1    - do obálky zprávy přibyl nepovinný element dmAmbiguousRecipient  
                           - změna namespace pro verzi ISDS 2                     
    1.10.2009 verze 2.5    - přidány typy pro WS CreateMultipleMessage (oběžník = DZ pro více adresátů)
    1.11.2009 verze 2.6    - přidány nepovinné atributy dmType do obálky zprávy a seznamu zpráv (rozlišení komerční zprávy)
                           - přidány typy pro WS ConfirmDelivery (potvrzení doručení komerční zprávy)
    ******************************************************************* -->
<xs:schema xmlns:tns="http://isds.czechpoint.cz/v20" elementFormDefault="qualified" targetNamespace="http://isds.czechpoint.cz/v20" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="tIdDm">
    <xs:annotation>
      <xs:documentation>ID datové zprávy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tIdDb">
    <xs:annotation>
      <xs:documentation>ID datové schránky</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="tFile">
    <xs:choice>
      <xs:element name="dmEncodedContent" type="xs:base64Binary">
        <xs:annotation>
          <xs:documentation>obálka pro písemnost libovolného podporovaného formátu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmXMLContent">
        <xs:annotation>
          <xs:documentation>obálka pro libovolný XML obsah</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="tFilesArray">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="dmFile">
        <xs:annotation>
          <xs:documentation>Jedna písemnost DZ (=soubor nebo XML )</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:tFile">
              <xs:attribute name="dmMimeType" type="xs:string" use="required">
                <xs:annotation>
                  <xs:documentation>typ písemnosti v MIME zápisu, např. application/pdf nebo image/tiff</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="dmFileMetaType" use="required">
                <xs:annotation>
                  <xs:documentation>výčet typů písemností, main je pouze jedna</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="main" />
                    <xs:enumeration value="enclosure" />
                    <xs:enumeration value="signature" />
                    <xs:enumeration value="meta" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="dmFileGuid" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:documentation>nepovinný interní identifikátor tohoto dokumentu - pro vytváření stromu závislostí dokumentů</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="dmUpFileGuid" type="xs:string">
                <xs:annotation>
                  <xs:documentation>nepovinný interní identifikátor nadřízeného dokumentu (např. pro vztah soubor - podpis aj.)</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="dmFileDescr" type="xs:string" use="required">
                <xs:annotation>
                  <xs:documentation>může obsahovat jméno souboru, příp. jiný popis. Objeví se v seznamu příloh na portále</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="dmFormat" type="xs:string" use="optional">
                <xs:annotation>
                  <xs:documentation>nepovinný údaj - odkaz na definici formuláře</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tStatus">
    <xs:sequence>
      <xs:element name="dmStatusCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>kód chyby nebo stavu (0000 - bez chyby, 0001 - odložení zprac.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmStatusMessage" type="xs:string">
        <xs:annotation>
          <xs:documentation>popis chyby česky</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dmStatus" type="tns:tStatus" />
  <xs:complexType name="tHash">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="algorithm" type="xs:string">
          <xs:annotation>
            <xs:documentation>Algoritmus hashovací funkce, např. SHA-1</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:group name="dmEvent">
    <xs:sequence>
      <xs:element name="dmEventTime" nillable="true" type="xs:dateTime" />
      <xs:element name="dmEventDescr" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="tEvent">
    <xs:sequence>
      <xs:group ref="tns:dmEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tEventsArray">
    <xs:sequence minOccurs="1" maxOccurs="unbounded">
      <xs:element name="dmEvent" type="tns:tEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:group name="gMultipleMessageEnvelopeSub">
    <xs:annotation>
      <xs:documentation>Obálka zprávy bez ID DZ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmSenderOrgUnit" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Organizační jednotka odesílatele slovně; nepovinné, mohou doplňovat ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmSenderOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Organizační jednotka odesílatele hodnotou z číselníku; ESS, nepovinné</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAnnotation" nillable="true">
        <xs:annotation>
          <xs:documentation>Textová poznámka (Věc, Předmět, Anotace)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmRecipientRefNumber" nillable="true">
        <xs:annotation>
          <xs:documentation>Číslo jednací za strany příjemce; nepovinné, </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderRefNumber" nillable="true">
        <xs:annotation>
          <xs:documentation>Číslo jednací za strany odesílatele; nepovinné</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmRecipientIdent" nillable="true">
        <xs:annotation>
          <xs:documentation>Spisová značka ze strany příjemce; nepovinné</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderIdent" nillable="true">
        <xs:annotation>
          <xs:documentation>Spisová značka a strany odesílatele; nepovinné</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmLegalTitleLaw" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Zmocnění - číslo zákona; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitleYear" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Zmocnění - rok vydání zákona; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitleSect" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Zmocnění - paragraf v zákoně; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitlePar" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Zmocnění - odstavec v paragrafu; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitlePoint" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Zmocnění - písmeno v odstavci; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmPersonalDelivery" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Příznak Do vlastních rukou - může číst pouze adresát nebo osoba s explicitně daným oprávněním</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAllowSubstDelivery" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Náhradní doručení povoleno/nepovoleno - pouze pro některé subjekty (např. soudy)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="tRecipients">
    <xs:sequence>
      <xs:element name="dbIDRecipient" type="tns:tIdDb">
        <xs:annotation>
          <xs:documentation>ID datové schránky příjemce</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dmRecipientOrgUnit" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Organizační jednotka příjemce slovně, nepovinné, možné upřesnění příjemce při podání z portálu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dmRecipientOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Organizační jednotka příjemce hodnotou z číselníku; ESS, nepovinné</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmToHands" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>K rukám - pomocný údaj </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMultipleMessageEnvelopeSub">
    <xs:sequence>
      <xs:group ref="tns:gMultipleMessageEnvelopeSub" />
      <xs:element minOccurs="0" maxOccurs="1" name="dmOVM" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMultipleMessageRecipients">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="dmRecipient" type="tns:tRecipients" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMultipleMessageCreateInput">
    <xs:sequence>
      <xs:element name="dmRecipients" type="tns:tMultipleMessageRecipients" />
      <xs:element name="dmEnvelope" type="tns:tMultipleMessageEnvelopeSub" />
      <xs:element name="dmFiles" type="tns:tFilesArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMultipleMessage" type="tns:tMultipleMessageCreateInput" />
  <xs:complexType name="tMultipleStatus">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="dmSingleStatus" nillable="true" type="tns:tMStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmID" type="tns:tIdDm" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMultipleMessageCreateOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmMultipleStatus" nillable="true" type="tns:tMultipleStatus" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMultipleMessageResponse" type="tns:tMultipleMessageCreateOutput" />
  <xs:group name="gMessageEnvelopeSub">
    <xs:annotation>
      <xs:documentation>Obálka zprávy bez ID DZ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmSenderOrgUnit" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Organizační jednotka odesílatele slovně; nepovinné, mohou doplňovat ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmSenderOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Organizační jednotka odesílatele hodnotou z číselníku; ESS, nepovinné</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dbIDRecipient" nillable="true" type="tns:tIdDb">
        <xs:annotation>
          <xs:documentation>ID datové schránky příjemce</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmRecipientOrgUnit" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Organizační jednotka příjemce slovně, nepovinné, možné upřesnění příjemce při podání z portálu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmRecipientOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Organizační jednotka příjemce hodnotou z číselníku; ESS, nepovinné</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmToHands" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>K rukám - pomocný údaj </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAnnotation" nillable="true">
        <xs:annotation>
          <xs:documentation>Textová poznámka (Věc, Předmět, Anotace)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmRecipientRefNumber" nillable="true">
        <xs:annotation>
          <xs:documentation>Číslo jednací za strany příjemce; nepovinné, </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderRefNumber" nillable="true">
        <xs:annotation>
          <xs:documentation>Číslo jednací za strany odesílatele; nepovinné</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmRecipientIdent" nillable="true">
        <xs:annotation>
          <xs:documentation>Spisová značka ze strany příjemce; nepovinné</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderIdent" nillable="true">
        <xs:annotation>
          <xs:documentation>Spisová značka a strany odesílatele; nepovinné</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmLegalTitleLaw" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Zmocnění - číslo zákona; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitleYear" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Zmocnění - rok vydání zákona; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitleSect" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Zmocnění - paragraf v zákoně; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitlePar" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Zmocnění - odstavec v paragrafu; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLegalTitlePoint" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Zmocnění - písmeno v odstavci; ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmPersonalDelivery" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Příznak Do vlastních rukou - může číst pouze adresát nebo osoba s explicitně daným oprávněním</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAllowSubstDelivery" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Náhradní doručení povoleno/nepovoleno - pouze pro některé subjekty (např. soudy)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="gMessageEnvelope">
    <xs:annotation>
      <xs:documentation>Kompletní obálka zprávy včetně ID DZ a ostatnich elementu, které se nezadávají při vytvoření DZ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmID" type="tns:tIdDm">
        <xs:annotation>
          <xs:documentation>ID datové zprávy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dbIDSender" nillable="true" type="tns:tIdDb">
        <xs:annotation>
          <xs:documentation>ID datové schránky odesílatele</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmSender" nillable="true">
        <xs:annotation>
          <xs:documentation>Odesílatel slovně; doplňuje ISDS</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderAddress" nillable="true">
        <xs:annotation>
          <xs:documentation>Poštovní adresa odesílatele - požadavek ESS; doplňuje ISDS</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmSenderType" type="xs:int">
        <xs:annotation>
          <xs:documentation>hrubý typ schránky odesílatele (10=OVM,20=PO,30=PFO,40=FO)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmRecipient" nillable="true">
        <xs:annotation>
          <xs:documentation>Příjemce slovně; doplňuje ISDS</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dmRecipientAddress" nillable="true">
        <xs:annotation>
          <xs:documentation>Poštovní adresa příjemce - požadavek ESS; doplňuje ISDS</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dmAmbiguousRecipient" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Příznak, že adresát je ne-OVM povášené na OVM (§5a)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:group ref="tns:gMessageEnvelopeSub" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="tReturnedMessage">
    <xs:annotation>
      <xs:documentation>typ pro staženou DZ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmDm">
        <xs:annotation>
          <xs:documentation>Datová zpráva</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="tns:gMessageEnvelope" />
            <xs:element name="dmFiles" type="tns:tFilesArray">
              <xs:annotation>
                <xs:documentation>Pole písemností DZ</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dmHash" type="tns:tHash">
        <xs:annotation>
          <xs:documentation>Hash kompletní DZ (z elementu dmDm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmQTimestamp" type="xs:base64Binary">
        <xs:annotation>
          <xs:documentation>Kvalifikované časové razítko</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmDeliveryTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>čas dodání do DS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAcceptanceTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>čas doručení</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmMessageStatus" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Stav DZ (dodaná, doručená atd.); celé číslo 1-9</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAttachmentSize" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>velikost přílohy v kilobajtech (zaokrouhleno)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tReturnedMessageEnvelope">
    <xs:annotation>
      <xs:documentation>typ pro staženou obálku DZ (bez písemností, hash neplatí)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmDm">
        <xs:complexType>
          <xs:group ref="tns:gMessageEnvelope" />
        </xs:complexType>
      </xs:element>
      <xs:element name="dmHash" type="tns:tHash">
        <xs:annotation>
          <xs:documentation>Hash kompletní DZ vč. písemností, hash nejde spočítat z obálky!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmQTimestamp" type="xs:base64Binary" />
      <xs:element name="dmDeliveryTime" nillable="true" type="xs:dateTime" />
      <xs:element name="dmAcceptanceTime" nillable="true" type="xs:dateTime" />
      <xs:element name="dmMessageStatus" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Stav DZ - celé číslo 1-9</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAttachmentSize" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>velikost přílohy v kilobajtech (zaokrouhleno)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMessageEnvelopeSub">
    <xs:annotation>
      <xs:documentation>typ pro WS CreateMessage na vstupu</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="tns:gMessageEnvelopeSub" />
      <xs:element minOccurs="0" maxOccurs="1" name="dmOVM" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMessageCreateInput">
    <xs:sequence>
      <xs:element name="dmEnvelope" type="tns:tMessageEnvelopeSub" />
      <xs:element name="dmFiles" type="tns:tFilesArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMessage" type="tns:tMessageCreateInput" />
  <xs:complexType name="tMessageCreateOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmID" type="tns:tIdDm" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMessageResponse" type="tns:tMessageCreateOutput" />
  <xs:element name="VerifyMessage" type="tns:tIDMessInput" />
  <xs:complexType name="tMessageVerifyOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmHash" type="tns:tHash" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyMessageResponse" type="tns:tMessageVerifyOutput" />
  <xs:complexType name="tDelivery">
    <xs:annotation>
      <xs:documentation>typ pro Dodejku, Doručenku a Nedoručenku</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dmDm">
        <xs:complexType>
          <xs:group ref="tns:gMessageEnvelope" />
        </xs:complexType>
      </xs:element>
      <xs:element name="dmHash" type="tns:tHash" />
      <xs:element name="dmQTimestamp" type="xs:base64Binary" />
      <xs:element name="dmDeliveryTime" nillable="true" type="xs:dateTime" />
      <xs:element name="dmAcceptanceTime" nillable="true" type="xs:dateTime" />
      <xs:element name="dmMessageStatus" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Stav DZ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmEvents" type="tns:tEventsArray">
        <xs:annotation>
          <xs:documentation>pole událostí dané DZ (obvykle jen dodání a doručení)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDeliveryInfo" type="tns:tIDMessInput" />
  <xs:complexType name="tDeliveryMessageOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmDelivery" nillable="true" type="tns:tDelivery" />
      <xs:element minOccurs="0" maxOccurs="1" name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDeliveryInfoResponse" type="tns:tDeliveryMessageOutput" />
  <xs:element name="GetSignedDeliveryInfo" type="tns:tIDMessInput" />
  <xs:complexType name="tSignDelivMessOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmSignature" type="xs:base64Binary" />
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSignedDeliveryInfoResponse" type="tns:tSignDelivMessOutput" />
  <xs:complexType name="tRecord">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="dmOrdinal">
        <xs:annotation>
          <xs:documentation>Pořadové číslo v seznamu</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:group ref="tns:gMessageEnvelope" />
      <xs:element name="dmMessageStatus" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Stav DZ, celé číslo 1 - 9</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAttachmentSize" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>velikost přílohy v kilobajtech (zaokrouhleno)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmDeliveryTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Čas dodání</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmAcceptanceTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Čas doručení</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tRecordsArray">
    <xs:annotation>
      <xs:documentation>typ pro vrácený seznam DZ</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="dmRecord">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:tRecord">
              <xs:attribute name="dmType" use="optional">
                <xs:simpleType>
                  <xs:restriction base="tns:tDmType">
                    <xs:length value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tListOfSentInput">
    <xs:sequence>
      <xs:element name="dmFromTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>čas dodání od</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmToTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>čas dodání do</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmSenderOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>org. jednotka odesílatele - číselník ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmStatusFilter" type="xs:string">
        <xs:annotation>
          <xs:documentation>filtr na stav zprávy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmOffset" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>od kolikátého záznamu</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLimit" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>kolik záznamů</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tListOfMessOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmRecords" nillable="true" type="tns:tRecordsArray">
        <xs:annotation>
          <xs:documentation>pole výsledků</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tListOfFReceivedInput">
    <xs:sequence>
      <xs:element name="dmFromTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>čas dodání od</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmToTime" nillable="true" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>čas dodání do</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmRecipientOrgUnitNum" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>org. jednotka příjemce - z číselníku ESS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmStatusFilter" type="xs:string">
        <xs:annotation>
          <xs:documentation>filtr na stav zprávy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmOffset" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>od kolikátého záznamu (od 1)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dmLimit" nillable="true" type="xs:integer">
        <xs:annotation>
          <xs:documentation>kolik záznamů</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListOfSentMessages" type="tns:tListOfSentInput" />
  <xs:element name="GetListOfSentMessagesResponse" type="tns:tListOfMessOutput" />
  <xs:element name="GetListOfReceivedMessages" type="tns:tListOfFReceivedInput" />
  <xs:element name="GetListOfReceivedMessagesResponse" type="tns:tListOfMessOutput" />
  <xs:complexType name="tIDMessInput">
    <xs:sequence>
      <xs:element name="dmID" type="tns:tIdDm" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMessDownOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmReturnedMessage" nillable="true">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:tReturnedMessage">
              <xs:attribute name="dmType" type="tns:tDmType" use="optional" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageDownload" type="tns:tIDMessInput" />
  <xs:element name="MessageDownloadResponse" type="tns:tMessDownOutput" />
  <xs:complexType name="tMessEnvelDownOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmReturnedMessageEnvelope" nillable="true">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:tReturnedMessageEnvelope">
              <xs:attribute name="dmType" type="tns:tDmType" use="optional" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageEnvelopeDownload" type="tns:tIDMessInput" />
  <xs:element name="MessageEnvelopeDownloadResponse" type="tns:tMessEnvelDownOutput" />
  <xs:complexType name="tSignedMessDownOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dmSignature" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="1" name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignedMessageDownload" type="tns:tIDMessInput" />
  <xs:element name="SignedMessageDownloadResponse" type="tns:tSignedMessDownOutput" />
  <xs:complexType name="tMarkMessOutput">
    <xs:sequence>
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarkMessageAsDownloaded" type="tns:tIDMessInput" />
  <xs:element name="MarkMessageAsDownloadedResponse" type="tns:tMarkMessOutput" />
  <xs:element name="SignedSentMessageDownload" type="tns:tIDMessInput" />
  <xs:element name="SignedSentMessageDownloadResponse" type="tns:tSignedMessDownOutput" />
  <xs:simpleType name="tDmType">
    <xs:annotation>
      <xs:documentation>typ DZ: K = komerční DZ, V = veřejná DZ; nepoužitý atribut = veřejná DZ</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="tConfirmDeliveryOutput">
    <xs:sequence>
      <xs:element name="dmStatus" type="tns:tStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmDelivery" type="tns:tIDMessInput" />
  <xs:element name="ConfirmDeliveryResponse" type="tns:tConfirmDeliveryOutput" />
  <xs:element name="DummyOperation" nillable="true" type="xs:string" />
</xs:schema>
